.board-tile {
  height: 90px;
  width: 90px;
}

body {
  background-image: url('background.png');
}

button {
  color: #444444;
  background: rgb(221, 125, 0);
  border: 1px #DADADA solid;

  border-radius: 10px;
  font-weight: bold;
  font-size: 1pt;
  outline: none;

}

button:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #63008a;
  background: #63008a;
}


button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}

.our-map {
  display: flex;
  /* flex-direction: */
}
